<div class="content-wrapper" style="padding:10px">
    <div class="row">
        <div class="col-xl">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <p>A Total of </p>
                <h3>{{EmptyEntries}}</h3>

                <p>Actions have been logged</p>
              </div>
              
            
            </div>
          </div>

    </div>
   <!-- <table class="table table-bordered">
        <thead>                  
          <tr>
            <th style="width: 10px">#</th>
            <th>Task</th>
            <th>Progress</th>
            <th style="width: 40px">Label</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>Update software</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
              </div>
            </td>
            <td><span class="badge bg-danger">55%</span></td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Clean database</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar bg-warning" style="width: 70%"></div>
              </div>
            </td>
            <td><span class="badge bg-warning">70%</span></td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Cron job running</td>
            <td>
              <div class="progress progress-xs progress-striped active">
                <div class="progress-bar bg-primary" style="width: 30%"></div>
              </div>
            </td>
            <td><span class="badge bg-primary">30%</span></td>
          </tr>
          <tr>
            <td>4.</td>
            <td>Fix and squish bugs</td>
            <td>
              <div class="progress progress-xs progress-striped active">
                <div class="progress-bar bg-success" style="width: 90%"></div>
              </div>
            </td>
            <td><span class="badge bg-success">90%</span></td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination pagination-sm m-0 float-right">
        <li class="page-item"><a class="page-link" href="#">«</a></li>
      </ul>
      <table mat-table [dataSource]="myDataArray">
        ...
      </table> -->
      
      <a  class="badge badge-secondary" (click)="reset()">All</a>
      <a  class="badge badge-primary" (click)="filter('WITHDRAW')">WITHDRAW</a>
      <a  class="badge badge-warning" (click)="filter('DEPOSIT')">DEPOSIT</a>

      <table mat-table [dataSource]="dataSource" class="table table-bordered">
    
      
          <!-- Progress Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let row"> <span *ngIf="row.action=='WITHDRAW'" class="badge bg-primary">{{row.action}} </span> <span *ngIf="row.action=='DEPOSIT'" class="badge bg-warning">{{row.action}} </span></mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="id_requester">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action by </mat-header-cell>
            <mat-cell *matCellDef="let row"> User {{row.id_requester}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="id_stock">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Stock item </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id_stock}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Trigger </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.value}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </table>
       
<br>
<br>
</div>