<div class="content-wrapper" style="padding:10px">
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{EmptyEntries}}<sup style="font-size: 20px">%</sup></h3>

                <p>Of entries are empty</p>
              </div>
              
            
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{LowEntries}}<sup style="font-size: 20px">%</sup></h3>

                <p>Of entries are below minimum requirements</p>
              </div>
              
            
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{AvgEntries}}<sup style="font-size: 20px">%</sup></h3>

                <p>Of entries are in-stock</p>
              </div>
              
            
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{TotalEntries}}</h3>

                <p>Total entries</p>
              </div>
              
            
            </div>
          </div>
    </div>
   <!-- <table class="table table-bordered">
        <thead>                  
          <tr>
            <th style="width: 10px">#</th>
            <th>Task</th>
            <th>Progress</th>
            <th style="width: 40px">Label</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>Update software</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
              </div>
            </td>
            <td><span class="badge bg-danger">55%</span></td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Clean database</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar bg-warning" style="width: 70%"></div>
              </div>
            </td>
            <td><span class="badge bg-warning">70%</span></td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Cron job running</td>
            <td>
              <div class="progress progress-xs progress-striped active">
                <div class="progress-bar bg-primary" style="width: 30%"></div>
              </div>
            </td>
            <td><span class="badge bg-primary">30%</span></td>
          </tr>
          <tr>
            <td>4.</td>
            <td>Fix and squish bugs</td>
            <td>
              <div class="progress progress-xs progress-striped active">
                <div class="progress-bar bg-success" style="width: 90%"></div>
              </div>
            </td>
            <td><span class="badge bg-success">90%</span></td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination pagination-sm m-0 float-right">
        <li class="page-item"><a class="page-link" href="#">«</a></li>
      </ul>
      <table mat-table [dataSource]="myDataArray">
        ...
      </table> -->

      <table mat-table [dataSource]="dataSource" class="table table-bordered">
        <ng-container matColumnDef="IdStock">
            <mat-header-cell *matHeaderCellDef mat-sort-header> <b>#</b> </mat-header-cell>
            <mat-cell *matCellDef="let row"> <B>{{row.IdStock}}</B> </mat-cell>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="LibelleStock">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.LibelleStock}} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="QteStock">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Qte </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.QteStock}} </mat-cell>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="QteMin">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Min Qte </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.QteMin}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row"> <a href="/editstock/{{row.IdStock}}" mat-flat-button color="accent" style="margin-right:5px;color:grey">Edit</a> <button mat-flat-button color="accent"style="color:grey" >Delete</button></mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </table>
        <ul class="pagination pagination-sm m-0 float-right">
            <li *ngFor="let item of fake;index as i" class="page-item"><a class="page-link"  (click)=setPage(i+1) >{{i+1}}</a></li>
          </ul>
<br>
<br>
</div>